<!DOCTYPE html>
<html>

<head>
    <% include headerStuff %>
</head>

<body>
    <% include pageHeader %>
    <h3>
        <%= note ? note.title : "" %>
    </h3>
    <p>
        <%= note ? note.body : "" %>
    </p>
    <p>Key:
        <%= notekey %>
    </p>
    <% if (notekey) { %>
    <hr />
    <p><a href="/notes/destroy?id=<%= note.id %>">Delete</a>
        | <a href="/notes/edit?id=<%= note.id %>">Edit</a></p>
    <% } %>
    <% include footer %>
</body>

</html>